* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000; 
    color: #FFFFFF;
    padding: 20px;
}


h1 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    margin-bottom: 25px;
    color: #FFCC00; 
    font-size: 2.2rem;
}


h2 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #FFCC00;
    margin-top: 20px;
}

div {
    max-width: 800px;
    margin: auto;
    background: #1A1A1A; 
    padding: 40px;
    border-radius: 16px;
    border-left: 6px solid #FFCC00; 
}


ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 12px;
    color: #FFFFFF;
    font-size: 1rem;
}
